body {
    background: #CCCCCC
}

#banner {
    https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsc3B4u_cxSrmLtsBwiJQB5uMiySt93y4-6w&usqp=CAU
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}