body {
    background: #CCCCCC
}

#banner {
    https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFvOHg2lfv5ohvpfbZX_OODV-WmSAxHBTEw&usqp=CAU
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}