body {
    background: #CCCCCC
}

#banner {https://t.ctcdn.com.br/gzcMsAT56f7vZ30WPwIfmLTVoP4=/48x27:931x524/1200x675/smart/i371015.jpeg}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}